[Database]
Addr            = "localhost:5432"
User            = "postgres"
Database        = "ludoman"
Password        = ""
PoolSize        = 5
ApplicationName = "apisrv"

[Server]
Host      = "test.example"
Port      = 8078
IsDevel   = true

[Bot]
Token = ""
TournamentChatID = -1